.actions-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input {
  width: 200px;
}
.pagination {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-top: 20px;
}
.users-container {
  margin-top: 20px;
}
.card {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}